
$mobile: 481px;

#index{
    .hero-image{
        background-image: url('../assets/morning_light.jpg');
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .col{
            margin-top: 5rem;
            margin-bottom: auto;
        }
        .nav-link{
            font-size:large;
            font-weight: bold;
        }
        .collapseCont{
            text-align:center;
        }
    }
    .navbar-brand, .nav-link{
        color: white;
    }
    .imageContainer{
        overflow:hidden;
        position: relative;
    }
    .headshot{
        position: absolute;
        z-index: 2;
        transition: .4s;
        width:100%;
    }
    .headshot2{
        filter:blur(5px);
        transform: scale(1.1);
        transition: .4s;
    }
    .imageContainer:hover .headshot{
        filter:blur(5px);
        transform: scale(1.1);
        opacity: 0;
    }
    .imageContainer:hover .headshot2{
        filter: blur(0);
        transform: scale(1.1);
        opacity: 1;
    }
    .btn{
        --bs-btn-border-radius: 1rem;
    }
    .footer{
        background-color:lightsteelblue;
        .nav-link{
            color:black
        }
        ul{
            margin-left:auto;
            margin-right:auto;
        }
        .nav-footer{
            padding:.5rem;
        }
    }
    @media (min-width: $mobile){
        .main-cont{
            margin:auto 10%;
        }
    }
}