
$mobile: 481px;

#index{
    .hero-image{
        background-image: url('../assets/morning_light.jpg');
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .col{
            margin-top: 5rem;
            margin-bottom: auto;
        }
        .nav-link{
            font-size:large;
            font-weight: bold;
        }
    }
    .navbar-brand, .nav-link{
        color: white;
    }
    .headshot{
        max-width:75%;
    }
    .btn{
        --bs-btn-border-radius: 1rem;
    }
    .footer{
        background-color:lightsteelblue;
        .nav-link{
            color:black
        }
        ul{
            margin-left:auto;
            margin-right:auto;
        }
        .nav-footer{
            padding:.5rem;
        }
    }
    @media (min-width: $mobile){
        .main-cont{
            margin:auto 10%;
        }
    }
}