
$mobile:481px;

@mixin basic-body() {
    .hero-image-secondary{
        background-image: url('../assets/morning_light.jpg');
        height:300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .navbar{
           background-color: rgba(0, 0, 0, 0.6)
        }
        .nav-link{
            font-size:x-large;
            color: white;
        }
        .navbar-nav{
            margin:auto 1rem;
        }
    }
    .container-fluid{
        --bs-gutter-x:0;
    }
    .navbar-brand{
        font-size:xx-large;
        color: white;
        margin:auto 1rem;
    } 
    .navbar-toggler{
        margin-right: 1rem
    }
    .photo{
        max-height:400px;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .footer{
        background-color:lightsteelblue;
        ul{
            margin-left:auto;
            margin-right:auto;
        }
        .nav-footer{
            padding:.5rem;
        }
    }
}


#about{
    @include basic-body();
    @media (min-width: $mobile){
        .main-cont{
            margin:auto 10%;
        }
    }
    @media(max-width: $mobile){
        #imageContainer{
        display:flex;
        justify-content:center;
    }
    p{
        padding: 1rem;
    }
    }
}
#projects{
    @include basic-body();
}
#contact{
    @include basic-body();
    .list-group-item{
        border: none;
    }
    @media (min-width: $mobile){
        .main-cont{
            margin:auto 10% 1rem;
        }
    }
}