
$mobile:481px;

#about, #contact, #projects{
    .row{
        margin: auto 10%;
    }
    .hero-image-secondary{
        background-image: url('../assets/morning_light.jpg');
        height:300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .navbar{
            background-color: rgba(0, 0, 0, 0.6);
            width:100%;
        }
        .nav-link{
            font-size:x-large;
            color: white;
        }
        .navbar-nav{
            margin:auto 1rem;
        }
    }
    .collapseCont{
        text-align:center;
    }
    .navbar-brand{
        font-size:xx-large;
        color: white;
        margin:auto 1rem;
    } 
    .navbar-toggler{
        margin-right: 1rem
    }
    .photo{
        max-height:400px;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .footer{
        background-color:lightsteelblue;
        ul{
            margin-left:auto;
            margin-right:auto;
        }
        .nav-footer{
            padding:.5rem;
            color:black;
        }
    }
    @media(max-width: $mobile){
        .footer{
            .joePro{
                text-align: center;
            }
            .nav{
                justify-content: center!important;
            }
        }
    }
}

#contact{
    .list-group-item{
        border: none;
    }
    .resumeBtn{
        margin: 1rem;
        padding: .5rem;
        
    }
}

#about{
    @media(max-width: $mobile){
        .row{
            margin: auto 5%;
        }
        #imageContainer{
        display:flex;
        justify-content:center;
        margin-bottom: 1rem;
        }
        .photo{
            max-height: 500px;
        }
    }
}
#projects{
    @media(max-width:$mobile){
        .tableRow{
            margin: 0 !important;
        }
    }
}
#contact{
    @media(max-width: $mobile){
        .innerRow{
            margin: auto auto !important;
        }
    }
}