#index .hero-image {
  background-image: url("../assets/morning_light.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#index .hero-image .col {
  margin-top: 5rem;
  margin-bottom: auto;
}
#index .hero-image .nav-link {
  font-size: large;
  font-weight: bold;
}
#index .hero-image .collapseCont {
  text-align: center;
}
#index .heroContainer .heroHeader {
  animation: fadeInUp 1s forwards;
  opacity: 0;
}
#index .heroContainer .heroText {
  animation: fadeInUp 1s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
#index .heroContainer .heroBtn {
  animation: fadeInUp 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}
#index .navbar-brand, #index .nav-link {
  color: white;
}
#index .imageContainer {
  overflow: hidden;
  position: relative;
}
#index .headshot {
  position: absolute;
  z-index: 2;
  transition: 0.4s;
  width: 100%;
}
#index .headshot2 {
  filter: blur(5px);
  transform: scale(1.1);
  transition: 0.4s;
}
#index .imageContainer:hover .headshot {
  filter: blur(5px);
  transform: scale(1.1);
  opacity: 0;
}
#index .imageContainer:hover .headshot2 {
  filter: blur(0);
  transform: scale(1.1);
  opacity: 1;
}
#index .btn {
  --bs-btn-border-radius: 1rem;
}
#index .footer {
  background-color: lightsteelblue;
}
#index .footer .nav-link {
  color: black;
}
#index .footer ul {
  margin-left: auto;
  margin-right: auto;
}
#index .footer .nav-footer {
  padding: 0.5rem;
}
@media (min-width: 481px) {
  #index .main-cont {
    margin: auto 10%;
  }
}

#about .hero-image-secondary {
  background-image: url("../assets/morning_light.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .hero-image-secondary .navbar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
#about .hero-image-secondary .nav-link {
  font-size: x-large;
  color: white;
}
#about .hero-image-secondary .navbar-nav {
  margin: auto 1rem;
}
#about .collapseCont {
  text-align: center;
}
#about .navbar-brand {
  font-size: xx-large;
  color: white;
  margin: auto 1rem;
}
#about .navbar-toggler {
  margin-right: 1rem;
}
#about .photo {
  max-height: 400px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
#about .footer {
  background-color: lightsteelblue;
}
#about .footer ul {
  margin-left: auto;
  margin-right: auto;
}
#about .footer .nav-footer {
  padding: 0.5rem;
}
@media (min-width: 481px) {
  #about .main-cont {
    margin: auto 10%;
  }
}
@media (max-width: 481px) {
  #about #imageContainer {
    display: flex;
    justify-content: center;
  }
  #about p {
    padding: 1rem;
  }
}

#projects .hero-image-secondary {
  background-image: url("../assets/morning_light.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#projects .hero-image-secondary .navbar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
#projects .hero-image-secondary .nav-link {
  font-size: x-large;
  color: white;
}
#projects .hero-image-secondary .navbar-nav {
  margin: auto 1rem;
}
#projects .collapseCont {
  text-align: center;
}
#projects .navbar-brand {
  font-size: xx-large;
  color: white;
  margin: auto 1rem;
}
#projects .navbar-toggler {
  margin-right: 1rem;
}
#projects .photo {
  max-height: 400px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
#projects .footer {
  background-color: lightsteelblue;
}
#projects .footer ul {
  margin-left: auto;
  margin-right: auto;
}
#projects .footer .nav-footer {
  padding: 0.5rem;
}

#contact .hero-image-secondary {
  background-image: url("../assets/morning_light.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .hero-image-secondary .navbar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
#contact .hero-image-secondary .nav-link {
  font-size: x-large;
  color: white;
}
#contact .hero-image-secondary .navbar-nav {
  margin: auto 1rem;
}
#contact .collapseCont {
  text-align: center;
}
#contact .navbar-brand {
  font-size: xx-large;
  color: white;
  margin: auto 1rem;
}
#contact .navbar-toggler {
  margin-right: 1rem;
}
#contact .photo {
  max-height: 400px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
#contact .footer {
  background-color: lightsteelblue;
}
#contact .footer ul {
  margin-left: auto;
  margin-right: auto;
}
#contact .footer .nav-footer {
  padding: 0.5rem;
}
#contact .list-group-item {
  border: none;
}
@media (min-width: 481px) {
  #contact .main-cont {
    margin: auto 10% 1rem;
  }
}
#contact .resumeBtn {
  margin: 1rem;
  padding: 0.5rem;
}/*# sourceMappingURL=main.css.map */