#index .row {
  margin: auto 10%;
}
#index .hero-image {
  background-image: url(../assets/morning_light.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#index .hero-image .heroContainer .heroHeader {
  animation: fadeInUp 1s forwards;
  opacity: 0;
}
#index .hero-image .heroContainer .heroText {
  animation: fadeInUp 1s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
#index .hero-image .heroContainer .heroBtn {
  animation: fadeInUp 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
#index .hero-image .navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
#index .hero-image .navbar-toggler {
  color: white;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}
#index .navbar-brand, #index .nav-link {
  color: white;
}
#index .imageContainer {
  overflow: hidden;
  position: relative;
}
#index .headshot {
  position: absolute;
  z-index: 2;
  transition: 0.4s;
  width: 100%;
}
#index .headshot2 {
  filter: blur(5px);
  transform: scale(1.1);
  transition: 0.4s;
}
#index .imageContainer:hover .headshot {
  filter: blur(5px);
  transform: scale(1.1);
  opacity: 0;
}
#index .imageContainer:hover .headshot2 {
  filter: blur(0);
  transform: scale(1.1);
  opacity: 1;
}
#index .footer {
  background-color: lightsteelblue;
}
#index .footer ul {
  margin-left: auto;
  margin-right: auto;
}
#index .footer .nav-footer {
  padding: 0.5rem;
  color: black;
}

@media screen and (max-width: 845px) {
  #index .hero-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #index .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  #index .main-nav {
    color: white;
    font-size: 28px;
    font-weight: bold;
  }
  #index .hero-text {
    position: absolute;
    top: 85px;
    z-index: 1;
  }
  #index .row {
    margin: auto 5%;
  }
  #index .footer .joePro {
    text-align: center;
  }
  #index .footer .nav {
    justify-content: center !important;
  }
}
#about .row, #contact .row, #projects .row {
  margin: auto 10%;
}
#about .hero-image-secondary, #contact .hero-image-secondary, #projects .hero-image-secondary {
  background-image: url("../assets/morning_light.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .hero-image-secondary .navbar, #contact .hero-image-secondary .navbar, #projects .hero-image-secondary .navbar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
#about .hero-image-secondary .nav-link, #contact .hero-image-secondary .nav-link, #projects .hero-image-secondary .nav-link {
  font-size: x-large;
  color: white;
}
#about .hero-image-secondary .navbar-nav, #contact .hero-image-secondary .navbar-nav, #projects .hero-image-secondary .navbar-nav {
  margin: auto 1rem;
}
#about .collapseCont, #contact .collapseCont, #projects .collapseCont {
  text-align: center;
}
#about .navbar-brand, #contact .navbar-brand, #projects .navbar-brand {
  font-size: xx-large;
  color: white;
  margin: auto 1rem;
}
#about .navbar-toggler, #contact .navbar-toggler, #projects .navbar-toggler {
  margin-right: 1rem;
}
#about .photo, #contact .photo, #projects .photo {
  max-height: 400px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
#about .footer, #contact .footer, #projects .footer {
  background-color: lightsteelblue;
}
#about .footer ul, #contact .footer ul, #projects .footer ul {
  margin-left: auto;
  margin-right: auto;
}
#about .footer .nav-footer, #contact .footer .nav-footer, #projects .footer .nav-footer {
  padding: 0.5rem;
  color: black;
}
@media (max-width: 481px) {
  #about .footer .joePro, #contact .footer .joePro, #projects .footer .joePro {
    text-align: center;
  }
  #about .footer .nav, #contact .footer .nav, #projects .footer .nav {
    justify-content: center !important;
  }
}

#contact .list-group-item {
  border: none;
}
#contact .resumeBtn {
  margin: 1rem;
  padding: 0.5rem;
}

@media (max-width: 481px) {
  #about .row {
    margin: auto 5%;
  }
  #about #imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  #about .photo {
    max-height: 500px;
  }
}

@media (max-width: 481px) {
  #projects .tableRow {
    margin: 0 !important;
  }
}

@media (max-width: 481px) {
  #contact .innerRow {
    margin: auto auto !important;
  }
}/*# sourceMappingURL=main.css.map */